name: Build & Push Docker Images

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      ## ====== DASHBOARD ====== ##
      - name: Build & Push Dashboard
        uses: docker/build-push-action@v5
        with:
          context: ./dashboard
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/caio-dashboard:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/caio-dashboard:${{ github.sha }}

      ## ====== AGENT ====== ##
      - name: Build & Push Agent
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/caio-agent:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/caio-agent:${{ github.sha }}
